@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom base styles here */
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.text-shadow-sm {
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
